.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
}

.collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
}

.card a {
    text-decoration: none;
    color: #343a40;
}

.card a:hover {
    text-decoration: none;
    background-color: rgba(126, 227, 114, 0.6);
    color: #90969d;
}
